{% comment %} <div>
  <navigation-navigation-bar-transparent
    :navigation-bar-transparent-data="{
      shoppingBag: `{{ 'navigation.shoppingBag' | t }}`,
      currencyUsd: `{{ 'navigation.currencyUsd' | t }}`,
      rootUrl: `{{ routes.root_url }}`,
      cartUrl: `{{ routes.cart_url }}`,
      collectionUrl: '/collections/all',
      collectionName: 'Collection',
      beautifulNumbersUrl: '/pages/beautiful-numbers',
      beautifulNumbersName: 'Beautiful Numbers',
    }"
  >
  </navigation-navigation-bar-transparent>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "vue-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
    }
  ]
}
{% endschema %} {% endcomment %}